In [3]:
# Import Pandas
import pandas as pd
import numpy as np
# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [4]:
measurements_df = pd.read_csv("Resources/hawaii_measurements_clean.csv")
measurements_df.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           5  USC00519397  2010-01-07  0.06    70

In [17]:
measurements_df = measurements_df[['station','date','prcp','tobs']]

In [18]:
measurements_df['date']=pd.to_datetime(measurements_df.date)
measurements_df.head()

C:\Users\gkchan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-07  0.06    70

In [19]:
measurements_df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [21]:
stations_df = pd.read_csv("Resources/hawaii_stations_clean.csv")
stations_df.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [24]:
stations_df = stations_df[['station','name','latitude','longitude','elevation']]

In [25]:
stations_df.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [26]:
# Create the connection engine
engine = create_engine("sqlite:///./Resources/hawaii.sqlite")

In [27]:
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [28]:
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, Date

In [29]:
# Create Measurement and Station classes
# ----------------------------------
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)
    
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [30]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [31]:
measurements_df.to_sql(con=engine, index_label='ID', name=Measurement.__tablename__, if_exists='append')

In [32]:
stations_df.to_sql(con=engine, index_label='ID', name=Station.__tablename__, if_exists='append')

In [33]:
conn = engine.connect()

In [34]:
Base.metadata.create_all(engine)

In [35]:
session.commit()